.inactive {
  color: red;
  background-color: black;
}
.active {
  color: green;
  background-color: black;
}
.activeclass {
  color: white;
  background: black;
}

.ng-valid{
  border: solid green 1px;
}